@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Services.Configuration

@inject IStoreContext storeContext
@inject IWorkContext workContext
@inject ISettingService settingService

@model FooterModel

@{
    var storeId = (await storeContext.GetCurrentStoreAsync()).Id;
    var removeCopyright = await settingService.GetSettingByKeyAsync("tractionthemesettings.removecopyright", false, storeId, true);
    var removeDesignedBy = await settingService.GetSettingByKeyAsync("tractionthemesettings.removedesignedby", false, storeId, true);
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer">
    <div class="footer-upper">
        <div class="center">
            <div class="footer-block contacts">
                <div class="title">
                    <strong>@T("SevenSpikes.Themes.Traction.Common.FooterContact")</strong>
                </div>
                <ul>
                    <li class="phone">@T("SevenSpikes.Themes.Traction.Common.Phone")</li>
                    <li class="fax">@T("SevenSpikes.Themes.Traction.Common.Fax")</li>
                    <li class="mobile">@T("SevenSpikes.Themes.Traction.Common.Mobile")</li>
                    <li class="email">@T("SevenSpikes.Themes.Traction.Common.EmailName")@T("SevenSpikes.Themes.Traction.Common.EmailAt")@T("SevenSpikes.Themes.Traction.Common.EmailDomain")</li>
                    <li class="skype">@T("SevenSpikes.Themes.Traction.Common.Skype")</li>
                </ul>
            </div>
            <div class="footer-block links">
                <div class="title">
                    <strong>@T("SevenSpikes.Themes.Traction.Common.FooterInformation")</strong>
                </div>
                <ul>
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                    }
                    @if (Model.SitemapEnabled && Model.DisplaySitemapFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
                    }
                    @if (Model.AllowCustomersToApplyForVendorAccount && Model.DisplayApplyVendorAccountFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
                    }
                </ul>
            </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = "traction_new_products_footer" })
            <div class="footer-block">
                @await Component.InvokeAsync("HomepageNews")
            </div>
            <div class="footer-block">
                <div class="news-list-homepage">
                    <div class="title">
                        <strong>Stay Connected</strong>
                    </div>
                    <div class="news-items" style="">
                    <div class="news-item">
                        <div class="news-head">
                            <a class="news-title" href="/news-3">Follow us on our social media platform</a> 
                        </div>
                        <div class="news-body" style="height: 48px;">
                            <div class="row" style="padding-top: 10px;">
                                <a href="#" class="fa fa-facebook fa-3x" style="padding: 5px;"></a>
                                <a href="#" class="fa fa-instagram fa-3x" style="padding: 5px;"></a>
                                <a href="#" class="fa fa-twitter fa-3x" style="padding: 5px;"></a>
                            </div>
                        </div>
                        <div class="buttons">
                            <a href="/news-3" class="read-more">details</a>
                        </div>
                    </div>
                </div>
                <div class="view-all">
                    <a href="/news">View News Archive</a>
                </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="footer-middle">
        <div class="center">
            @await Component.InvokeAsync("SocialButtons")
            @await Component.InvokeAsync("NewsletterBox")
            <ul class="accepted-payment-methods">
                <li class="method1"></li>
                <li class="method2"></li>
                <li class="method3"></li>
                <li class="method4"></li>
            </ul>
        </div>
    </div>*@
    <div class="footer-lower">
        <div class="center">
            <div class="footer-disclaimer">
                @*<span>@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>*@
                <span>&copy; 2021 All Rights Reserved by One Two One Advisor Sdn. Bhd.</span>
                @if (Model.DisplayTaxShippingInfoFooter)
                {
                    var inclTax = await workContext.GetTaxDisplayTypeAsync() == TaxDisplayType.IncludingTax;
                    <span class="footer-tax-shipping">
                        @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = await Html.GetTopicSeNameAsync("shippinginfo") }))
                    </span>
                }
            </div>
            @if (!removeCopyright)
            {
                <div class="footer-powered-by">
                    Terms Of Use
                    <!--Powered by <a href="@(OfficialSite.Main)">nopCommerce</a>-->
                    @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                        Please find more info here https://www.nopcommerce.com/nopcommerce-copyright-removal-key*@
                </div>
            }
            @if (!removeDesignedBy)
            {
                <div class="footer-designed-by">
                    @*Designed by <a href="https://www.nop-templates.com/" target="_blank">Nop-Templates.com</a>*@
                    Privacy Policy
                </div>
            }

            <div class="footer-store-theme">
        		@await Component.InvokeAsync("StoreThemeSelector")
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.Footer })

	<script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            var maxHeight = -1;

            $('.footer-block>ul, .footer-block .news-items').each(function () {
                maxHeight = maxHeight > $(this).height() ? maxHeight : $(this).height();
            });

            $('.footer-block>ul, .footer-block .news-items').each(function () {
                $(this).height(maxHeight);
            });

        });
    </script>

</div>
